<%- include("header") -%>
<div class="box" id="heading">
  <h1><%= headerTitle %></h1>
</div>

<div class="box">
  <% for (let i=0 ; i < todolar.length; i++){%>
  <div class="item">
    <input type="checkbox" />
    <p><%= todolar[i]%></p>
  </div>
  <%}%>
  <form action="/" method="post">
    <input type="text" name="veri" autocomplete="off" placeholder="Add To Do" />
    <button type="submit" name="button" value="<%= headerTitle %>">+</button>
  </form>
</div>
<%- include("footer") -%>
